@font-face {
  font-family: emoji;

  src: local('Noto Color Emoji'),
       local('Noto Emoji'),
       local('Apple Color Emoji'),
       local('Android Emoji'),
       local('Segoe UI'),
       local(EmojiSymbols),
       local(Symbola);

  /* Emoji unicode blocks */
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, emoji;
  font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h1, h2, h3 {
  height: 80px;
  margin: 20px 0px;
}

strong, b {
  font-weight: 600;
}

h5 {
  font-size: 100%;
  font-weight: 600;
  margin: 0;
}

h6 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.remark-code {
  font-size: 16pt;
}
.remark-inline-code {
  font-size: 110%;
  color: #8D1A38;
}
.remark-slide-content {
  font-size: inherit;
  padding: 1em 3.5em;
}

pre, code {
  font-family: "Ubuntu Mono", "Consolas", monospace, emoji;
}

li, ul {
  margin: 0.25em 0;
}
ul, pre, li > p {
  margin: 0;
}

li li {
  font-size: 90%;
}
