
# Created by https://www.gitignore.io/api/jekyll,vim,linux

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

