<header>
  <h1>CIS 198: Rust Programming</h1>
  <h3><a class="stealth" href="http://www.upenn.edu/">University of Pennsylvania</a></h3>
  <div class="ctr">Spring 2016</div>
  <nav class="partitioned">
    <div class="part">
      <a class="btn" href="/">Home</a>
    </div>
    <div class="part">
      <a class="btn" href="/schedule/">Schedule</a>
    </div>
    <div class="part">
      <a class="btn" href="/policies/">Policies</a>
    </div>
    <div class="part">
      <a class="btn" href="https://piazza.com/class/iiksjduyiy773s" title="Piazza"><img src="/img/piazza.png" alt="Piazza"></a>
    </div>
    <div class="part">
      <a class="btn" href="https://github.com/cis198-2016s" title="GitHub"><img src="/img/github.png" alt="GitHub"></a>
    </div>
  </nav>
</header>
<hr>
